extends layout

block content
  // prompt
  #overlay
    #username-prompt
      form(action="")
        h4 Tell us what you want to be called
        input(id="username-input", autocomplete="off", placeholder="Username")
        button Set
  
  // chat
  #people
  
  #messaging
    // TODO add calling ribbon
    
    #messages
      ul
    
    // TODO figure out where to put emojis
    #message-form
      // TODO add insertion for files
      
      form(action="")
        textarea(id="message-input", autocomplete="off", autocorrect="on", spellcheck="true", placeholder="Message...", rows="1")
        button#send <i class="fa fa-paper-plane" aria-hidden="true"></i>
        
  
  script(src="/js/chat-frontend.js")
