doctype html
html(lang="en")
	head
		title= title

		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no")
		meta(name="HandheldFriendly" content="true")

		meta(name="author" content="Irfan Smajevic")
		meta(name="description" content="A chat client for me and my friends (and no one else).")
		
		link(rel="stylesheet", href="/css/style.css")
		link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css")
		
		script(src="/socket.io/socket.io.js")
		block additional
		
	body
		block content
